
<!-- Banner -->
	<section id="banner">
				<i class="icon"><%= image_tag "logo-simple-roukia-libourne.png", alt:"Logo d'un tajine blanc par le traiteur la cuisine de Roukia à St Germain du Puch.", width:"100%" %></i>
				<h1>La cuisine de Roukia</h1>
				<h2>Traiteur & Cuisine Marocaine de Tradition</h2>
				<div class="bande"></div>
	</section>
	<div id="particles-js"></div>



<!-- Two -->
<section id="two" class="wrapper special">
	<div class="inner">

		<header class="major narrow">
			<h2>Une cuisine traditionnelle</h2>
			<p style="color: #25383B;">La cuisine de Roukia est un traiteur familial qui vous propose des plats traditionnels de la cuisine orientale.</p>
		</header>

		<div class="row 50% uniform">

			<figure class="4u"><span class="image fit">
				<a href="/offre-traiteur/">
					<%= image_tag "Couscous-marocain-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux-saint-germain-arveyres.jpg",  alt:"Couscous royal réalisé par la cuisine de roukia, traiteur et cuisine marocaine de tradition à Saint germain du puch." %>
					<figcaption><br><br><br><br>Couscous Royal</figcaption>
				</a>
			</span></figure>

			<figure class="4u"><span class="image fit">
				<a href="/offre-traiteur/tajine">
					<%= image_tag "tajines-cuisine-de-roukia-traiteur-marocaine-tradition-libourne-bordeaux-saint-germain-du-puch.jpg", alt:"Tajine marocain de tradition réalisé par la cuisine de Roukia à Libourne." %>
					<figcaption><br><br><br><br>Tajine</figcaption>
				</a>
			</span></figure>

			<figure class="4u$"><span class="image fit">
				<a href="/offre-traiteur/pastilla">
					<%= image_tag "pastilla-cuisine-de-roukia-traiteur-cuisine-marocaine-libourne-izon-beychac-arveyres.jpg", alt:"La pastilla au pigeon réalisée par le traiteur La cuisine de Roukia à Saint Germain du Puch" %>
					<figcaption><br><br><br><br>Pastilla</figcaption></a>
			</span></figure>

			<figure class="4u"><span class="image fit">
				<a href="/offre-traiteur/mechoui">
					<%= image_tag "mechoui-2-agneau-a-la-broche-cuisine-de-roukia-traiteur-marocaine-de-tradition-libourne-arveyres-st-germain-du-puch.jpg", alt:"Un mechoui par le traiteur la cuisine de Roukia à Libourne" %>
				<figcaption><br><br><br><br>Mechoui</figcaption>
				</a>
			</span></figure>

			<figure class="4u"><span class="image fit">
				<a href="/offre-traiteur/patisseries-marocaines">
					<%= image_tag "Patisseries-marocaines-Roukia-cuisine-de-tradition-traiteur-libourne-bordeaux-beychac-arveyres-saint-germain-du-puch.jpg", alt:"Patisseries marocaines et thé à la menthe par la cuisine de roukia a Libourne et Saint germain du puch" %>
					<figcaption><br><br><br><br>Pâtisseries marocaines</figcaption>
				</a>
			</span></figure>

			<figure class="4u$"><span class="image fit">
				<a href="/offre-traiteur/plats-de-fete">
					<%= image_tag "Tajine-poulet-olives-vertes-roses-cuisine-de-roukia-libourne.jpg", alt:"Patisseries marocaines et thé à la menthe par la cuisine de roukia a Libourne et Saint germain du puch" %>
					<figcaption><br><br><br><br>Autres plats</figcaption>
				</a>
			</span></figure>						

		</div>

		<ul class="actions" id="below-pictures">
			<li><a href="/offre-traiteur/" class="button big alt">Toutes nos suggestions</a></li>
		</ul>

	</div>
</section>

<section class="wrapper style2 special">
	<header class="major narrow">
		<h2>A emporter ou à domicile</h2>
		<p>La livraison de nos plats dans les villes du libournais (St-germain-du-puch, Arveyres, Libourne, Bordeaux...) est incluse à partir de 12 personnes.<br>Commandez à votre traiteur au minimum 48heures à l'avance !</p>
	</header>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special epices">
	<div class="inner">
		<header class="major narrow	">
			<h2>Un traiteur familial</h2>
			<p>Nos plats sont reconnus pour leur qualité et leur finesse. Ils sont élaborés avec <span style="font-weight:600;">amour et générosité</span> dans le respect des valeurs et de la tradition marocaine. La cuisson est au feu de bois dans des <strong>tajines en terre cuîte</strong>. Nous proposons également des <strong>Mechouis à la broche</strong> et aux cèps de vignes, les matières premières sont sélectionnées avec soin: la qualité est au rendez-vous.</p>
		</header>
		<ul class="actions">
			<li><a href="/contact" class="button big alt">Contactez-nous</a></li>
		</ul>
	</div>
</section>


