	
<!-- One -->
<section id="one" class="wrapper style1 mobilis">
	<div class="inner offres">
		<h1 id="offres-title">Notre Catalogue Traiteur Marocain</h1>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/plats-froids">
					<%= image_tag "zalouk-traiteur-cuisine-de-roukia-libourne-saint-germain.jpg", alt:"Le caviar d'aubergine façon marocaine réalisé par le traiteur la cuisine" %>
				</a>
			</span>
			<div class="content">
				<h2>Entrées & plats froids</h2>
				<p>Un repas n'est jamais complet sans une entrée. Fraîcheurs et saveurs garanties.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/plats-froids" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/couscous-royal">
					<%= image_tag "Couscous-marocain-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux-saint-germain-arveyres.jpg", alt:"Couscous royal réalisé par la cuisine de roukia, traiteur et cuisine marocaine de tradition à libourne, arveyres et bordeaux." %>
				</a>
			</span>
			<div class="content">
				<h2>Couscous royal aux 3 viandes</h2>
				<p>Composé d'agneau, de poulet, de merguez et assorti de douze légumes, il est royal.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/couscous-royal" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>
		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/tajine">	<%= image_tag "tajines-cuisine-de-roukia-traiteur-marocaine-tradition-libourne-bordeaux-saint-germain-du-puch.jpg", alt:"Tajine marocain traditionnel préparé par la cuisine de Roukia à Libourne." %>
				</a>
			</span>
			<div class="content">
				<h2>Tajine traditionnel</h2>
				<p>Au poisson, à l'agneau, au boeuf ou au poulet. Il y en a pour tous les goûts.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/tajine" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/mechoui">
					<%= image_tag "pic07.jpg", alt:"Un exemple de mechoui caîdal traditionnel marocain réalisé par le traiteur la cuisine de Roukia à Libourne"%>
				</a>
			</span>
			<div class="content">
				<h2>Mechoui Caïdal</h2>
				<p>Plat traditionnel marocain de marque. LE mode de cuisson et le spectacle sont atypiques et raviront vos convives. Le choix des accompagnents saura satisfaire le plus grand nombre.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/mechoui" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/pastilla">
					<%= image_tag "pastilla-cuisine-de-roukia-traiteur-cuisine-marocaine-libourne-izon-beychac-arveyres.jpg", alt:"Pastilla au poulet réalisée par le traiteur la cuisine de Roukia à Beychac" %>
				</a>
			</span>
			<div class="content">
				<h2>Pastillas au pigeonneau ou poulet</h2>
				<p>Tourte traditionnelle de la cuisine marocaine sucré salé pour vous faire voyager à la frontière des dunes sahariennes.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/pastilla" class="button alt small">Détails</a></li>
				</ul>
			</div>

		</article>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/plats-de-fete">
					<%= image_tag "Poivrons-marines-cuisine-de-roukia-bordeaux-libourne.jpg", alt:"La tatchouka, un plat de fête réalisé par le traiteur libournais la cuisine de roukia à Bordeaux." %>
				</a>
			</span>
			<div class="content">
				<h2>Autres plats de fête</h2>
				<p>Pour un événement festif ou bien simplement un repas convivial. Cette formule alliant cuisine marocaine de tradition et générosité transportera vos invités vers le pays du couhant lointain.</p>
				<ul class="actions small orange">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/plats-de-fete" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>

		<article class="feature left">
			<span class="image">
				<a href="http://www.cuisinederoukia.fr/offre-traiteur/patisseries-marocaines">
					<%= image_tag "Patisseries-marocaines-Roukia-cuisine-de-tradition-traiteur-libourne-bordeaux-beychac-arveyres-saint-germain-du-puch.jpg", alt:"assortiment de patisseries marocaines par le traiteur la cuisine de roukia a libourne" %>
				</a>
			</span>
			<div class="content">
				<h2>Pâtisseries marocaines & thé</h2>
				<p>Pour finir le voyage sur une note de douceur nous vous proposons un assortiment de partisseries marocaines traditionnelles.</p>
				<ul class="actions small">
					<li><a href="http://www.cuisinederoukia.fr/offre-traiteur/patisseries-marocaines" class="button alt small">Détails</a></li>
				</ul>
			</div>
		</article>

	</div>
</section>
