<section class="wrapper platsall">
	<div class="container">		
		<h1>Pâtisseries marocaine & thé à la menthe</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Patisseries-marocaines-Roukia-cuisine-de-tradition-traiteur-libourne-bordeaux-beychac-arveyres-saint-germain-du-puch.jpg", alt:"Patisseries marocaines traditionnelles et thé à la menthe traditionel préparés par la cuisine de roukia traiteur et cuisine de tradition à libourne Bordeaux arveyres saint germain du puch izon beychac" %></span>
			<div class="content">
				<h2>Patisseries marocaines traditionnelles & thé à la menthe</h2>
				<p>Assortiment de 5 pâtisseries marocaines élaborées à base de miel, d’amandes, de noix de coco, de noix ou de citron: Ghribä, Briouates, Chbakîa, Fekkas, Cornes de Gazelle. Servies avec du thé à la menthe préparé de façon traditionnelle.</p>
				<table class="coloried">
					<thead>
						<th>5 € <sup>TTC</sup> par personne</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>
		
		<div class="box alt">
			<div class="row 100% uniform images-sup", style:"margin-top:3em;margin-bottom:4em;">
			<!-- Version Ordinateur -->		
				<div class="4u ordi-sup"><span class="image fit"><%= image_tag "plateau-patisseries-marocaines-cuisine-de-roukia-traiteur.jpg",  alt:"Plateau de pâtisseries marocaines réalisés par le traiteur la cuisine de Roukia à Libourne & Arveyres." %></span></div>

				<!-- le "$" dans le "4u$" de la class de la div marque le retour à la ligne, la taille des images est défini par le nombre, ainsi dans '4u$' l'image mesure 4 colonnes de large sur 12 -->
				<div class="4u$ ordi-sup "><span class="image fit"><%= image_tag "assiettes-patisseries-marocaines-cuisine-de-roukia-traiteur.jpg", alt:"Assiettes de pâtisseries marocaine prêtes à être servies lors d'un évenement à Nérigean." %></span></div>					
			<!-- Version Mobile -->		

				<div class="12u mobile-sup"><span class="image fit"><%= image_tag "plateau-patisseries-marocaines-cuisine-de-roukia-traiteur.jpg", alt:"Plateau de pâtisseries marocaines réalisés par le traiteur la cuisine de Roukia à Libourne & Arveyres." %></span></div>

				<!-- le "$" dans le "4u$" de la class de la div marque le retour à la ligne, la taille des images est défini par le nombre, ainsi dans '4u$' l'image mesure 4 colonnes de large sur 12 -->
				<div class="12u mobile-sup"><span class="image fit"><%= image_tag "assiettes-patisseries-marocaines-cuisine-de-roukia-traiteur.jpg", alt:"Assiettes de pâtisseries marocaine prêtes à être servies lors d'un évenement à Nérigean." %></span></div>

			</div>
		</div>	
		<hr>

	</div>

	<br><br>
	<center>
		<ul class="actions">
			<li><a href="/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>

</section>
