<section class="wrapper platsall">
	<div class="container">		
		<h1>Tajine marocain</h1>

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "tajines-cuisine-de-roukia-traiteur-marocaine-tradition-libourne-bordeaux-saint-germain-du-puch.jpg", alt:"tajine à l'agneau, au boeuf ou au poulet réalisé par la cuisine de roukia, traiteur et cuisine marocaine de tradition à Libourne, Arveyres & Bordeaux." %></span>
			<div class="content">
				<h2>Tajine traditionnel marocain</h2>
				<p>Au choix à l'agneau, au boeuf, au poulet ou au poisson accompagné de légumes de saison tels que des carottes, des c&#339;urs d'artichauts, des fèves, des patates douces, des coings, des citrons confits, des courgettes, des olives roses, des pommes de terre, des haricots vert, des navets, des petits pois, des chou-fleur. Et agrémenté de safran, d'ail, de cumin, de persil & de coriandre.</p>
				<table class="coloried">
					<thead>
						<th>12€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>	
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Tajine-de-daurade-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-st-germain-arveyres.jpg", alt:"Tajine de daurade réalisé par la cuisine de roukia traiteur et cuisine marocain de tradition dans le libournais et le bordelais." %></span>
			<div class="content">
				<h2>Tajine de Daurade</h2>
				<p>Cuît au four avec un assortiments de légumes de saison. Sublimé par une touche de safran, de cumin et de gingembre.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>			

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Tajine-de-sardines-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux-saint-germain.jpg", alt:"Tajine de sardines réalisé par la cuisine de roukia cuisine et traiteur marocain traditionnel à izon, libourne, bordeaux, beychac, arveyres." %></span>
			<div class="content">
				<h2>Tajine de Sardines</h2>
				<p>Boulettes de sardines fraîches (sans arrêtes), sauce à base de tomate, pommes de terre, carottes,  olives roses, citrons confîts, poivrons verts, poireaux, persil & coriandre.</p>
				<table class="coloried">
					<thead>
						<th>13€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>
		
		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Tajine-vegetarien-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux.jpg", alt:"Tajine végétarien à base de légumes frais réalisé par le traiteur la cuisine de Roukia à Libourne." %></span>
			<div class="content">
				<h2>Tajine végétarien</h2>
				<p>Assortiments de légumes frais, persil, coriandre, cumin, gingembre. </p>
				<table class="coloried">
					<thead>
						<th>10€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>		

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Tajine-de-kefta-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux.jpg", alt:"Tajine de kefta réalisé par la cuisine de roukia traiteur marocain tradition libourne bordeaux saint germain du puch" %></span>
			<div class="content">
				<h2>Tajine de kefta</h2>
				<p>Kefta (boulette de boeuf façon marocaine), oeufs mollets, sauce tomate, coriandre, persil, cumin.</p>
				<table class="coloried">
					<thead>
						<th>13€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>

		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Tajine-de-pruneaux-agneau-cuisine-de-roukia-traiteur-et-marocaine-de-tradition-libourne-bordeaux.jpg", alt:"Tajine sucré-salé aux pruneaux réalisé par le traiteur la cuisine de Roukia à Libourne." %></span>
			<div class="content">
				<h2>Tajine d'agneaux aux pruneaux</h2>
				<p>Un plat très riche réalisé à base de viande d'agneau, de pruneaux confîts, d'ail, de cannelle, oeuf dur, gingembre & d'amandes grillées. Ce plat saura ravir les amateurs de plats sucrés - salés.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>		

		<hr>

		<article class="left plats">
			<span class="image"><%= image_tag "Tajine-de-saumon.jpg", alt:"Tajine de saumon réalisé par la cuisine de roukia traiteur marocain tradition libourne bordeaux saint germain du puch" %></span>
			<div class="content">
				<h2>Tajine de Saumon</h2>
				<p>Tajine de Saumon accompagné de pommes de terre, de carottes, de poivrons, de tomates fraîches, de poireaux, d'ail, de coriandre, de persil, de safran et de gingembre.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>

		<hr>

		<article class="right plats pagined">
			<span class="image"><%= image_tag "Tajine-Bar-cuisine-de-Roukia.jpg", alt:"Tajine de bar réalisé par le traiteur la cuisine de Roukia à Libourne." %></span>
			<div class="content">
				<h2>Tajine de Bar </h2>
				<p>Le Bar est un poisson à la chair blanche et au goût raffiné. Il vous sera servi avec un assortiment de légumes tels que pommes de terre, carottes, poivrons, tomates fraîches, poireaux assaisonnés d'ail, de coriandre, de persil, de safran et de gingembre.</p>
				<table class="coloried">
					<thead>
						<th>15€ <sup>TTC</sup> par personne</th>
						<th>Servi dans un tajine en terre cuîte</th>
					</thead>
				</table>
			</div>
		</article>		

		<hr>

	</div>

	<br><br>
	<center>
		<ul class="actions">
			<li><a href="/offre-traiteur/" class="button big alt after">Revenir aux propositions</a>
			<li><a href="/contact.html"class="button big alt after">Passer commande</a>
		</ul>
	</center>

</section>