<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title><%= @title %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
	<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,500,700">-->

	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  </head>


  <body>
	<!-- Header -->
  	<header id="header" class="alt darkened">
		<a href="/"><%= image_tag "Logo-Cusine-de-roukia-traiteur-et-marocaine-de-tradition.png", class:"logoh", alt:"Logo horizontal orange sahara de la cuisine de roukia, traiteur de qualité à Bordeaux et en gironde" %>
		<a href="#nav"><span id="menuhead">Menu</span></a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="/">Accueil</a>
			<li><%= link_to 'Nos Propositions', offre_traiteur_url %></li>
				<li><%= link_to '. Entrée & Plats froids', offre_traiteur_plats_froids_url %></li>
				<li><%= link_to '. Couscous royal', offre_traiteur_couscous_royal_url %></li>
				<li><%= link_to '. Mechoui Caïdal ', offre_traiteur_mechoui_url %></li>
				<li><%= link_to '. Pastilla Marocaine', offre_traiteur_pastilla_url %></li>
				<li><%= link_to '. Tajine Marocain', offre_traiteur_tajine_url %></li>
				<li><%= link_to '. Plats de Fête', offre_traiteur_plats_de_fete_url %></li>
				<li><%= link_to '. Patisseries & Thé', offre_traiteur_patisseries_marocaines_url %></li>

			<li><a href="/questions-frequentes">Questions fréquentes</a>
			<li><a href="/contact">Contact</a>
		</ul>
	</nav>

    <%= yield %>



<!-- Footer -->
	<footer id="footer">
		<div class="bande-bleue"></div>
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook">
					<span class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter">
					<span class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram">
					<span class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin">
					<span class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; La Cuisine de Roukia</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
  </body>
</html>







